html {
  font-size: 20px;
}
body {
  background-color: rgb(54, 55, 59);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar {
  width: 100%;
  background-color: rgba(173, 255, 47, 0.7);
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 0;
}
li h1 {
  margin-right: 450px;
}
li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding-right: 3em;
  transition: all ease-in-out 250ms;
}
li a:hover::after {
  width: 55%;
}
li a:hover {
  color: rgba(224, 54, 58, 1);
  transition: all ease-in-out 250ms;
}
li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: rgba(224, 54, 58, 1);
  bottom: -0.5em;
  transition: all ease-in-out 250ms;
}
h1 {
  font-size: 30px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
h2 {
  text-align: center;
}
img {
  width: 30%;
  height: 400px;
  border: 5px solid white;
  margin-left: 75px;
  border-radius: 12px;
}
section {
  padding: 10px;
  margin: 10px;
  width: 90%;
}
#paragraphsmall {
  font-style: italic;
  text-align: center;
}
#stockpic {
  width: 300px;
  border: 3px solid white;
  display: block;
  margin-left: 35%;
  margin-top: 20px;
}
footer {
  font-size: 16px;
  text-align: center;
}
#contact {
  text-decoration: underline;
}
#about {
  text-decoration: underline;
}
